body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    padding: 10px;
}


.nav {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
     flex-wrap: initial;
    padding-left: 0;
    list-style: none;
}

/* .ap-title {
    color: white;
}

.ap-navbar {
    background-color: #E80A2B;
}

.navbar {
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.nav-link {
    color: white;
}

.nav-link:hover {
    color: lightgray;
}

.ap-signin {
    text-align: right;
    background-color: white;
    color: #E80A2B;
}

.app-epic {

    color: #E80A2B;
}
.app-image {
    align-content: center;
    padding: 5px;
}

Form {
    padding: 20px;
}

.col { padding: 5px;}
.row { padding: 5px; margin: 5px; }

.card {
    margin: 0px;
    padding: 5px;
    font-size: small;
}

.card-title {
    color:#E80A2B;
    font-size: large;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
    font-size: medium;
}
 */
